@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif !important;
}

#cardsDiv {
    padding: 5px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.hidden {
    display: none !important;
}

.waste-card {
    background-color: #EEF0F2;
    border-style: solid;
    border-width: 1.5px;
    width: 300px;
    height: 300px;
    margin: 20px;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px lightgrey;
    position: relative;
    border-radius: .5em;
}

.dummy-card {
    font-size: 5em;
    padding-top: .75em;
    width: 200px;
    height: 250px;
    margin-top: .58em;
    border-radius: .1em;
}

.waste-card-info {
    font-size: 1.25em;
    font-weight: bold;
}

.waste-card-header {
    border: 2px solid;
    margin-bottom: 2em;
    padding: .25em;
    /* background-color: rgba(255, 94, 91, 0.911); */
    border-radius: .25em;
}

.waste-card-header-red {
    border: 2px solid;
    margin-bottom: 2em;
    padding: .25em;
    background-color: rgba(231, 78, 78, 0.911);
    border-radius: .25em;
}

.waste-card-header-yellow {
    border: 2px solid;
    margin-bottom: 2em;
    padding: .25em;
    background-color: rgba(240, 195, 50, 0.911);
    border-radius: .25em;
}

.waste-card-header-green {
    border: 2px solid;
    margin-bottom: 2em;
    padding: .25em;
    background-color: rgba(77, 199, 72, 0.911);
    border-radius: .25em;
}

.food-name h5 {
    font-weight: bold;
    font-size: 1.75em;
    padding-top: .2em;
    color: white;
}

form {
    padding: 20px;
    margin: 4px;
    background-color: #284B63;
    text-align: left;
    color: rgb(59, 56, 56);
    font-weight: bold;
    color: white;
    box-shadow: 2px 2px 2px 2px lightgrey;
    border-radius: 1em;
}

.login-form {
    width: 700px;
    align-content: center;
    display: flex;
    margin-top: 5em;
}

.login-form input {
    margin-left: 1.5em;
}

section {
    justify-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-toggler-icon {
    background-color: lightgrey !important;
}

form h5 {
    color: white;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: .5em;
    text-align: left;
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: #0B2027 !important;
    padding: 20px !important;
}

.navbar-brand {
    color: white !important;
    font-size: 2.5em;
}

.nav-item.nav-link {
    color: white !important;
    font-size: 1.25em;
}

.waste-card-buttons {
    align-content: center;
    padding: 2px;
    padding-bottom: 10px;
    margin: 2px;
    position: absolute;
    bottom: 0;
}
.update-button {
    margin-right: 20px;
    margin-left: 65px;
    border-radius: .25em;
    border: darkgrey 1.5px solid;
}

.delete-button {
    border-radius: .25em;
    border: darkgrey 1.5px solid;
}

button {
    font-family: 'Roboto', sans-serif !important;
    font-size: .75em;
}

form label {
    margin-left: 1em;
    padding: .2em;
}

select {
    margin-left: .25em;
    margin-right: .25em;
}

